.forecast-details {
    display: block;
    text-align: center;
    padding: 2rem;
    letter-spacing: 1px;
    font-weight: bold;

}

.forecast-details__date {
    font-size: 25px;
}

.forecast-details__maxTemperature {
    padding: 0.5rem;

}

.forecast-details__minTemperature {
    padding: 0.5rem;

}

.forecast-details__humidity {
    padding: 0.5rem;


}

.forecast-details__windSpeed {
    padding: 0.5rem;
}

.forecast-details__windDirection {
    padding: 0.5rem;
}