.moreDetails__button {
    display: flex;
    flex-direction: row;
    padding: 12px 29px;
    margin: 0.5rem;
    background-color: white;
    color: black;
    border: 2px solid #002E45;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.moreDetails__button:hover {
    border: 2px solid #2B7994;
    color: #2B7994;
    cursor: pointer;
    
}

.forecast-summary {
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
}

 .forecast-summary__icon {
    padding: 0.5rem;
   
} 

.forecast-summary__date {
    font-size: 25px;
}



