.searchButton {
    padding: 12px 29px;
    margin: 0.5rem;
    background-color: white;
    color: black;
    border: 2px solid #002E45;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
}
.searchButton:hover {
cursor: pointer;
color: #2B7994;
border: 2px solid #2B7994;


}
input {
    width: 25%;
    padding: 12px 20px;
    border-radius: 6px;
    border: 2px solid #002E45;
    font-size: medium;

}
input:focus {
    color: #2B7994;
}